# Ignore the deps and obj files
*.o
*.d
.clangd/
compile_commands.json

# Ignore the binaries
r-type_client
r-type_server

# Ignore the CMake build file
CMakeFiles
CMakeCache.txt
.ccls-cache/*
*.cmake
Makefile
.cache/*

# Ignore the build directory
build/
release
cmake-build-*

# Ignore JetBrains IDE files
.idea

# Ignore doc
doc

# Run scripts
run.bat
run.sh

# Ignore static directory
static
